<!DOCTYPE html>
<html>


<head>
<title> Alejandro Arévalo Arenas, diseñador y escritor </title>
<link rel="stylesheet" href="formato.css">

</head>


<body>

<strong><h1 align="center">Alejandro Arévalo</h1></strong>
<p background-color =” #ff9199”> </p> 
<p>Escritor y diseñador.</p>

<hr/>

<h2 style=font-size: 18px; font-family: Lato; color: #1d1778; background-color: yellow; padding: 12px; margin: 10px; width: 100px; border-style: dotted; border-color: #000000; border-width: 5px;><mark>Juegos diseñados:</mark> Juegos de mesa, rol y algun videojuego simple <br/> No ha hecho mucho pero se aprecia el esfuerzo</h2>

<hr/>

<ul>
  <li>¿Que hago en mi tiempo libre?</li>
  <ol>
     <li>Jugar videojuegos</li>
     <li>Leer</li>
     <li>Dormir</li>
  </ol>
  <li>¿Que no suelo hacer?</li>
  <ol>
    <li>Suspender informatica basica</li>
    <li>Hacer paginas webs</li>
  </ol>
</ul>

<div id="rojo" style="background-color: red;">

<h3> Nivel de <span style="background: black; color: yellow;">felicidad</span> del 1 al 10 a lo largo de los años </h3>

<table border="1px">
<tr>
<th> 2018 </th>
<th> 2019 </th>
<th> 2020 </th>
<th> 2021 </th>
</tr>

<tr>
<td> 5/10  </td>
<td> 4/10 </td>
<td> 2/10 </td>
<td> 6/10 </td>
</tr>

</table>

<div id="yellow" style="background-color: yellow;">

<p><a href="https://open.spotify.com/user/xxq2u4ap9ofrms82vd245b7vf?si=dDhySpIzQdaHgHnxJ5usGg&utm_source=copy-link&dl_branch=1" target="_blank">Link a su Spotify</a></p>

<img src="perrito.jpg" alt="foto de perrito"/>

</body>


</html>